/* 1. Selector padre o principal */
:root{
    /* Declaración de variable */
    --color-primario: #EC111A;
    --color-secundario: #082BA5;
    --color-parrafos: #53575A;
    --color-titulos: #282D31;
    --color-fondo: #fcfcfc;
    --color-sombras: #282D31;
    
}
/* 2. Selector universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* 3. Selector hijo */
body{
    background-color: var(--color-fondo) ;
}

/* 4. Selector de clase : El punto .*/

/* boton de whatsapp */
.boton-whatsapp{
    position: fixed;
    bottom: 3em;
    left: 3em;
    background-color: #4dc247;
    padding: .3em;
    border-radius: 100%;
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    
    }
/*Cambiar el color del objeto seleccionado*/
.boton-whatsapp:hover{
    background-color: #128c7e;
    transition: 0.5s;
}

.titulo2{
    color: var(--color-primario);
    font-size: 1.4em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.titulo1{
    color: var(--color-secundario);
    font-size: 1.7em;
    font-weight: bold;
    margin-top: -.3em;
    line-height: 1.5em;
}

.parrafo{
    color: var(--color-parrafo);
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
    font-family: "Roboto", sans-serif;
    }

.margen{
    margin-bottom: 3em;
}
.enlace{
    background-color: var(--color-primario);
    color: #fff;
    padding: 1em;
    border-radius: .5em;
    text-decoration: none;
    margin-top: 8em;
}

/* Pseudo clase */
.enlace:hover{
    color: yellow;
    background-color: var(--color-secundario);
    opacity: 99%;
    transition: background-color 1s ease-in-out;
}

/* INICIO MENU */
header{
    background-color: yellow;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 3px var(--color-sombras);
}

.menu{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.icono-menu{ 
    display: none;
}

.img-logo{
    height: 3.8em;
    padding: .6em;
}

.enlaces{
    text-align: right;
}
.enlaces a{
    color: var(--color-parrafos);
    padding: 1.5em;
    font-size: 1em;
    text-decoration: none;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

/* El media screen se utiliza para hacer una RESPONSIVE WEB DESIGN (adaptable a móvil) */
@media screen and (max-width: 1023px) {
    .menu{
    flex-direction: column;
    }
    .icono-menu{
    display: block;
    color: var(--color-primario);
    font-size: 2em;
    margin-top: .4em;  
    }
    .logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em;
    }
    .enlaces{
    display: flex;
    flex-direction: column;
    text-align: center;
    }
}
/* FIN MENU */

/* Inicio Cards*/
.beneficios img{
    size: 1.5em;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 4;
}

.cards-grid{
   display: grid;
   gap: 1.5em;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
}

.card{
    background-color: #fff
    border-radius: 0.5em;
    border: 1px solid var(--color-parrafos);
    box-shadow: 0 2px 3px var(--color-sombras);
}

.card-img img{
    border-radius: .5em .5em 0 0; /* Código corto  */
    /* border-top-left-radius: .5em; - Código largo */
    /* border-top-right-radius: .5em -Código largo */
}

.card-content{
    padding: 0.5em;
}

.card-content a{
    text-decoration: none;
}

.card-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    color: var(--color-titulos);
    text-decoration: none;
}

.card-info{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--color-primario);
    text-align: center;
    padding: .4em .7em;
    text-decoration: none;
    display: block;
    border: 1px solid var(--color-primario);
    border-radius: 3em;
}

.card-content .card-info:hover{
    background-color: yellow;
    color: blue;
    transition: background color 0.3s ease-in-out;
}


/* Fin Cards */
